<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @exam.course_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @exam.exam_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>

<p>
  <strong>Room:</strong>
  <%= @exam.room %>
</p>

<p>
  <strong>Grade time:</strong>
  <%= @exam.grade_time %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
